* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

nav.navbar {
  background: #333;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

nav.navbar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

nav.navbar li {
  margin: 0 15px;
}

nav.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
}

nav.navbar a:hover {
  color: #007bff;
}

header {
  background: #333;
  color: #fff;
  padding: 120px 0 40px;
  margin-top: 50px; /* To account for fixed navbar */
}

header h1 {
  font-size: 3rem;
}

header p {
  font-size: 1.5rem;
}

.section {
  padding: 60px 0;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2rem;
  margin: 10px 0;
}

.project {
  margin-bottom: 20px;
}

.project h3 {
  font-size: 1.5rem;
}

.project a {
  color: #007bff;
  text-decoration: none;
}

.project a:hover {
  text-decoration: underline;
}

footer {
  background: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
